.google-logo{
    margin-top: 16rem;
}
.google-input {
    outline: none;
    border: 1.5px solid #bababa;
    border-left: none;
    width: 30rem;
    border-radius: 100px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}
.input-group{
    position: absolute;
}
.icon-text{
    background-color: #ffffff;
    border: 1.5px solid #bababa;
    border-right: none;
    border-radius: 100px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-top: 10px;
    padding-left: 5px;

}